footer {
  background: #60e1cb;
}
.logo1 a {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #000;
}
.logo_para {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  width: 350px;
}
.logo_para a {
  color: #292525;
  opacity: 0.4;
}
.work_bold {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #292525;
  align-self: flex-start;
  border: none;
}
.work_bold a {
  color: #292525;
  font-size: 16px;
}
.ul_list a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #292525;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.select_bg {
  background: #60e1cb;
  outline: none;
  font-weight: 400;
}
.select_bg option {
  font-size: 16px;
}
.last_ul {
  display: flex;
  padding: 40px 20px;
}
.copy {
  flex: 1;
}
.last_ul li {
  padding-right: 20px;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: #292525;
  mix-blend-mode: normal;
}
.footer_flex {
  flex-direction: row;
  justify-content: space-around;
}
.ul_list {
  font-size: 16px;
}
.logo_div {
  text-align: start;
  margin-left: 0px;
  margin-right: 0px;
}
.desktop_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 10px;
}
.foot_margin {
  margin: 50px 0px;
}
.foot_hr {
  background: #ffffff;
  opacity: 0.6;
  height: 0.9px;
}

/* Tablet menu */
@media screen and (min-width: 468px) {
  .work_bold {
    font-size: 25px;
  }

  .ul_list {
    font-size: 24px;
  }
}
